#products-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-component {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 15px;
    color: #213547;
    font-size: smaller;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-component img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: auto;
}

.product-component button {
    width: 70%;
    margin: auto;
}

@media (max-width: 768px) {
    #products-layout {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #products-layout {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1025px) {
    #products-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}